body { 
    display: grid;
    grid-template-areas: 
      "header"
      "main"
      "footer";
    grid-template-rows: 160px 1fr 280px;
    grid-gap: 10px;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Roboto;
}
header {
    font-style: normal;
    padding: 30px 0;
}
footer {
    background-color: #0E2469;
    color: #FFFFFF;
    font-style: normal;
}
p {
    margin: 0;
}
b {
    font-family: Roboto Regulare;
}

#pageHeader {
    grid-area: header;
}
#pageFooter {
    grid-area: footer;
}
#pageMain { 
    grid-area: main;      
}
.header_nav{
    display: flex;
    overflow: hidden;
    background-color: #0E2469;
}
.header_nav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0 auto;
}

/* Класс active для выбранного пункта меню */
.active {
    background-color: #FFAC00;
    color: white;
}
/* Иконка гамбургера спрятана, открывается на маленьких экранах */
.header_nav .icon {
    display: none;
}

/* Когда экран меньше 600px, остается один пункт меню, добавляется иконка гамбургера */
@media screen and (max-width: 852px) {
    .header_nav a:nth-child(4),
    .header_nav a:nth-child(5) {
        display: block !important;
    }
    .header_nav a:not(:first-child) {
        display: none !important;
    }
    .header_nav a.icon {
      float: right;
      display: block !important;
      margin-left: auto;
    }
    .header_nav a {
        margin: 0;
        padding: 14px 20px;
    }
    .header_info .headerInfo__item:nth-child(2) {
        display: none;
    }
    
}
@media screen and (max-width: 852px) {
    .header_nav.responsive {
        position: relative ;
        display: flex;
        flex-direction: column;
    }
    .header_nav.responsive a.icon {
      position: absolute ;
      right: 0;
      top: 0;
      margin-left: auto;
    }
    .header_nav.responsive a {
      float: none;
      display: block !important;
      text-align: left;
    }
}
.btn_findTour {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background-color: #FFAC00;
    text-decoration: none;
    padding: 10px 25px;
    font-family: Roboto Regulare;
}
.btn-callback {
    color: #FFAC00;
    font-size: 13px;
    text-decoration: none;
    border-bottom: 1px dashed #FFAC00;
    margin-left: 38px;
    font-family: Roboto Regulare;
}
.btn_subscribe {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background-color: #FFAC00;
    text-decoration: none;
    padding: 10px 15px;
    font-family: Roboto Regulare;
}
.btn_bookingTour {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background-color: #FFAC00;
    text-decoration: none;
    padding: 10px 60px;
    font-family: Roboto Regulare;
}
.btn_feedback {
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    background-color: #0E2469;
    text-decoration: none;
    padding: 14px 32px;
    font-family: Roboto Regulare;
}
.btn_services {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background-color: #FFAC00;
    text-decoration: none;
    padding: 10px 0;
    font-family: Roboto Regulare;
    width: 80%;
    margin: 20px auto;
}
.header_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 19px;
    padding-bottom: 20px;
}
.headerInfo__item {
    display: flex;
    flex-direction: column;
}

.headerInfo__adress,
.footer__adress {
    display: flex;
    font-size: 13px;
    padding-bottom: 20px;
}
.headerInfo__adress img,
.footer__adress img {
    width: 12px;
    height: 20px;
    padding-right: 5px;
}
.footer__adress {
    display: flex;
}
.headerInfo__social img,
.footerInfo__social img {
    width: 23px;
    height: 23px;
    padding-right: 5px;
}
.headerInfo__social,  .headerInfo__adress,
.footerInfo__social,  .footer__adress {
    padding-top: 5px;
}
.headerInfo__tel img,
.footer__tel img {
    width: 12px;
    height: 12px;
}
.headerInfo__tel a {
    color: #000;
    padding-top: 5px;
}
.headerInfo__item span,
.footerInfo__item span {
    font-family: Roboto Condensed; 
    font-size: 18px;
    line-height: 21px;
}
/* Стиль списка хлебных крошек */
ul.breadcrumb {
    padding-left: 19px;
    list-style: none;
    margin: 0;
}
ul.breadcrumb li {
    display: inline;
    font-size: 13px;
}
/* Добавить символ косой черты (/) перед/за каждым элементом списка */
ul.breadcrumb li+li:before {
    padding: 2px;
    color: #0E2469;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0E2469;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #FFAC00;
    text-decoration: underline;
}
.title {
    font-family: Sign Painter;
    font-size: 80px;
    line-height: 77px;
    color: #0E2469;
    padding-top: 35px;
    text-align: center;
}
.main_title {
    padding-bottom: 35px;
}
.subtitle {
    font-size: 16px;
    color: #777777;
    padding-top: 15px;
    text-align: center;
}
.subtitle:before {
    display: block;
    width: 4%;
    margin: 0 auto;
    padding-top: 10px;
    border-top: 3px solid #FFAC00;
    content: "";
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 19px;
}
.footerInfo__item {
    display: flex;
    justify-content: space-between;
}
.footerInfo__item.logo {
    flex-direction: column;
    padding-bottom: 15px;
}

.logo img{
    width: 160px;
    height: 23px;
}
.footer__tel a {
    color: #fff;
    padding-top: 5px;
}
.footerSociai__padding {
    padding-right: 20px;
}
.footer_adress {
    flex-basis: 18%;
}
.footer_map img {
    width: 100%;
    height: 100%;
}
.footer_map {
    flex-basis: 30%;
    margin: auto 0;
}
.footer_nav {
    display: flex;
    flex-direction: column;
}
.footer_nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 11px;
}
.copyright {
    border-top: 1px solid #fff;
    padding: 15px 0;
    margin: 0 19px;
}
.footer_copyright {
    display: flex;
    justify-content: space-between;
}
.footer_copyright a {
    color: #fff;
    text-decoration: none;
}
.news_social {
    display: flex;
    margin-top: 40px;
    margin-bottom: 60px;
    justify-content: center;
    flex-wrap: wrap;
}
.newsSocial__item img {
    width: 75px;
    height: 75px;
}
.newsSocial__item p {
    font-size: 24px;
    line-height: 28px;
    color: #333;
    padding: 8px 0;
}
.newsSocial__item {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
    margin: 10px;
}
.box {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.11), -4px 4px 15px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
}
.main_about {
    margin: 0 auto;
    display: grid;
    grid-gap: 30px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'video text1'
        'text2 image';
    padding: 20px;
    margin: 30px 50px;
}
.video { grid-area: video }
.text1 { grid-area: text1 }
.text2 { grid-area: text2 }
.image { grid-area: image }

@media screen and (max-width: 1000px) {
    .main_about {
        grid-template-rows: minmax(300px, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas:
            'video'
            'text1'
            'image'
            'text2';
    }
}
@media screen and (max-width: 680px) {
    .main_about {
        margin: 20px;
    }
    
}

.mainAbout__Item.image img {
    max-width: 540px;
    width: 100%;
}
.mainAbout__Item.image {
    margin: auto;
}
.mainAbout__Item p {
    padding-bottom: 15px;
}
.mainAbout__Item {
    font-size: 14px;
    line-height: 16px;
    color: #777777;
}
.mainAbout__Item span {
    color: #333;
    font-size: 18px;
    line-height: 21px;
}
.mainAbout__Item.text1 a {
    display: inline-block;
}

.main_feedback {
    background-color: #FFAC00;
    margin: 0 50px;
    margin-top: 90px;
    margin-bottom: 50px;
    padding: 30px 60px;
    position: relative;
}
.main_feedback img {
    position: absolute;
    right: 4px;
    bottom: 0px;
    width: 350px;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.mainFeedback__text {
    width: 65%;
}
.mainFeedback__btn {
    margin: 30px 0;
}
.feedback_title {
    font-family: Sign Painter;
    font-size: 65px;
    line-height: 63px;
    padding-bottom: 10px;
    color: #FFFFFF;
}
.feedback_title span {
    color: #515151;
}
.feedback_text {
    font-size: 24px;
    line-height: 146.9%;
    color: #333333;
}
.mainServices_more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.mainServices_more a {
    padding: 0 20px;
    text-decoration: none;
    font-size: 22px;
    line-height: 26px;
    color: #0E2469;
}
.mainServices_more img {
    width: auto;
    height: 1px;
}
.mainServices__item {
    font-size: 14px;
    line-height: 16px;
    color: #777777;
    text-align: center;
    display: block;
}
.mainServices__item a {
    display: block;
}
.mainServices__item span {
    font-family: Roboto Regulare;
    font-size: 18px;
    line-height: 21px;
    color: #444444;
    padding: 15px 0;
    display: block;
}
.mainServices__item img {
    width: 100%;
    height: auto;
}
.mainServices {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 30px;
    margin: 20px 60px;
}
@media screen and (max-width: 840px) {
    .mainServices {
        grid-template-columns: 1fr 1fr;
        margin: 20px 40px;
    }
}
@media screen and (max-width: 580px) {
    .mainServices {
        grid-template-columns: 1fr;
        margin: 20px;
    }
    .btn_services {
        width: 90%;
    }
    .mainServices_more a {
        padding: 0 10px;
        font-size: 18px;
    }
    .mainServices_more img {
        width: 80px;
        height: 2px;
    }
}

@media screen and (max-width: 1000px) {
    .mainFeedback__text {
        width: 100%;
    }
    .main_feedback {
        height: auto;
        padding: 0 40px;
        padding-top: 20px;
    }
    .main_feedback img {
        display: block;
        position: relative;
        margin: 0 auto;
        margin-top: -40px;
    }
}
@media screen and (max-width: 680px) {
    .feedback_title {
        font-size: 50px;
        line-height: 48px;
    }
    .feedback_text {
        font-size: 20px;
        line-height: 21px;
    }
    .main_feedback {
        margin: 20px;
    }
    .main_feedback img {
        width: 300px;
        margin-top: -20px;
    }
    .btn_feedback {
        font-size: 20px;
        padding: 10px 20px;
    }
    .main_title {
        padding-bottom: 0;
    }
    .title {
        font-size: 68px;
        line-height: 64px;
    }
}


/* media для header и footer */
@media screen and (max-width: 1368px) {
    .footerInfo__item {
        flex-direction: column;
    }
    body {
        grid-template-rows: 160px 1fr 290px;
    }
}

@media screen and (max-width: 1268px) {
    .header_nav a:nth-child(5) {
        display: none;   
    }
}
@media screen and (max-width: 1170px) {
    .headerInfo__item.adress {
        flex-basis: 18%;
    }
    body { 
        grid-template-rows: 170px 1fr 290px;
    }
}
@media screen and (max-width: 1056px) {
    .header_nav a:nth-child(4) {
        display: none;   
    }
    .footer_map {
        flex-basis: 25%;
    }

}
@media screen and (max-width: 1000px) {
    .header_info .headerInfo__item:nth-child(3) {
        display: none;
    }
    body { 
        grid-template-rows: 150px 1fr 220px;
    }
    .footer_copyright {
        flex-direction: column;
    }
    .copyright {
        font-size: 11px;
        padding: 10px 0;
    }
    .footer_nav, 
    .footer_map {
        display: none;
    }
    .footer_info {
        display: flex;
    }
    .footerInfo__item {
        justify-content: start;
    }
    .footerInfo__item.logo {
        padding-bottom: 0;
        padding-right: 20px;
    }
    .footer_adress {
        flex-basis: auto;
    }
}
@media screen and (max-width: 705px) {
    .footer {
        flex-direction: column;
        padding: 10px 19px;
    }
    body {
        grid-template-rows: 140px 1fr auto;
    }
    .header_info .headerInfo__item:nth-child(5) {
        display: none;
    }
    .header_info .headerInfo__item:nth-child(4) p {
        display: none;
    }
}
@media screen and (max-width: 410px) {
    .header_info {
        flex-direction: column;
        align-items: start;
        padding-bottom: 0px;
    }
    .headerInfo__item {
        padding-bottom: 10px;
    }
    body {
        grid-template-rows: 210px 1fr auto;
    }
    header {
        padding: 20px 0;
    }
    .footer_info {
        display: flex;
        flex-direction: column;
    }
    .footerInfo__item,
    .footerInfo__item.logo {
        padding-bottom: 10px;
    }
    .copyright {
        font-size: 8px;
        padding: 5px 0;
    }
}

@font-face {
    font-family: Roboto Condensed; 
    src: url(fonts/RobotoCondensed.ttf);
}
@font-face {
    font-family: Roboto; 
    src: url(fonts/Roboto.ttf);
}
@font-face {
    font-family: Roboto Regulare; 
    src: url(fonts/RobotoRegular.ttf);
}
@font-face {
    font-family: Sign Painter; 
    src: url(fonts/SignPainter.otf);
}